version: '2'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: api
    command: bash -c "cd /src/src/rest && python manage.py runserver 0.0.0.0:8000"
    ports:
      - "8000:8000"
    links:
      - mongo
    volumes:
      - ${ADBREW_CODEBASE_PATH}:/src
    environment:
      - MONGO_HOST=mongo
      - MONGO_PORT=27017

  app:
    build:
      context: .
      dockerfile: Dockerfile.app
    container_name: app
    command: bash -c "cd /src/src/app && yarn install && yarn start"
    ports:
      - "3000:3000"
    volumes:
      - ${ADBREW_CODEBASE_PATH}:/src

  mongo:
    image: mongo:5.0
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - ${ADBREW_CODEBASE_PATH}/db:/data/db
    command: ["mongod", "--bind_ip", "0.0.0.0"]
